<!DOCTYPE html>
html(lang="zh-Hant-TW")
  head
    include ./blocks/head.pug
  body
    .wrap
      block header
      //- block hero
      //- block feature
      //- block productive
      //- block quotes
      //- block signUp
      //- block footer
      
    block script